.banner {
  padding: 0;
  background-color: #52575c;
  color: white;
}

.banner-text {
  padding: 8px 20px;
  margin: 0;
}


#join-form {
  margin-top: 10px;
}

.tips {
  font-size: 12px;
  margin-bottom: 2px;
  color: gray;
}

.join-info-text {
  margin-bottom: 2px;
}

input {
  width: 100%;
  margin-bottom: 2px;
}

.player {
  width: 480px;
  height: 320px;
}

.player-name {
  margin: 8px 0;
}

#success-alert, #success-alert-with-token {
  display: none;
}

.effect-tab {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.effect-conatiner ul {
  display: flex;
  padding-left: 0;
}

.effect-conatiner ul li {
  list-style: none;
  flex: 0 0 32.333333%;
  padding: 9px 14px 9px;
  border-radius: 5px;
  border: 2px solid gray;
  margin-bottom: 4px;
}


@media (max-width: 640px) {
  .player {
    width: 320px;
    height: 240px;
  }
}